<!DOCTYPE html>
<html>
<head>
  <title>Nile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
        <%= react_component("LoggedInNavigation") %>
    </header>

    <div class="container">
<%= yield %>
    </div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
