<!DOCTYPE html>
<html>
<head>
  <title>Nile</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header>
      <% if session[:user_id] %>
        <%= react_component("LoggedInNavigation") %>
      <% else %>
        <%= react_component("LoggedOutNavigation") %>
      <% end %>
    </header>
    <div class="container">




      <% if flash %>
          <div class="notice">
            <% flash.each do |k, v| %>
                <%= v %>
            <% end %>
          </div>
      <% end %>
      <%= yield %>

    </div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
